[Desktop Entry]
Name=Kill ActivityWatch
Comment=Kill AW
Exec=~/.local/opt/activitywatch/kill.sh
Hidden=false
Terminal=false
Type=Application
Version=1.0
Icon=activitywatch
Categories=Utility;
